/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-color: #000028FF;
  --main-bg-image: url(../images/cover-image-dark.png);
  --title-color: #DB00FF;
  --content-color: #F1B2CE;
  --accent-color: #FF0070;
}

.theme-dark .header__text-decor {
  display: block;
}