.footer {
  position: relative;
  height: max(100vh, 668px);
  display: flex;
}

.footer__title {
  margin: auto;
  color: var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 9.5rem);
  font-weight: var(--font-weight-bold);
  text-shadow: 2px 2px 0 var(--title-color);
}

@media (width >=767px) {
  .footer {
    height: max(100vh, 1024px);
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >=1000px) {
  .footer {
    height: max(100vh, 768px);
  }
}