.header {
  display: grid;
  block-size: max(100vh, 668px);
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 55px;
  padding: 10px;
  position: relative;
}

.header__theme-menu {
  align-self: end;
  justify-self: end;
  padding-block-end: 12px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__text-decor {
  font-size: var(--font-size);
  top: 10px;
  right: 38px;
  line-height: 1.39;
  color: var(--accent-color);
  position: absolute;
}

.header__text-decor::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  block-size: 10px;
  inline-size: 10px;
}

.header__theme-menu-button {
  color: var(--section-title-color);
  font-size: var(--font-size);
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  padding-inline: 13px;
  padding-block: 3px;
  line-height: 1;
  height: 26px;
  transition: 0.5s;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--section-title-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-color);
  /* opacity: 0.4; */
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--section-title-color);
  outline: none;
}

.header__title {
  line-height: 0.83;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: var(--font-weight-bold);
  align-self: center;
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__subtitle {
  justify-self: end;
  align-self: start;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  max-inline-size: 364px;
}