.header {
  display: grid;
  block-size: max(100vh, 668px);
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 46px;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  position: relative;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
  padding-block-end: 12px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__text-decor {
  font-size: var(--font-size);
  top: 10px;
  right: 40px;
  line-height: 1.39;
  color: var(--accent-color);
  position: absolute;
}

.header__text-decor::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  block-size: 10px;
  inline-size: 10px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  font-size: var(--font-size);
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  padding: 2px 13px;
  line-height: 1;
  height: 26px;
  transition: 0.5s;
  border: none;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--btn-color);
  /* opacity: 0.4; */
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

.header__title {
  line-height: 0.83;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: var(--font-weight-bold);
  margin-top: 6px;
  align-self: center;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
}

.header__subtitle {
  justify-self: center;

}



@media (width >=768px) {
  .header {
    padding: 20px;
    gap: 70px;
    height: max(100vh, 1024px);
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__subtitle {
    justify-self: end;
    align-self: start;
    padding: 0;
    margin-top: 40px;
    max-inline-size: 364px;
  }

  .header__theme-menu {
    align-self: end;
    margin-bottom: 53px;
  }

  .header__text-decor {
    right: 48px;
    top: 20px;
  }
}


@media (width >=1024px) {
  .header {
    height: max(100vh, 768px);
    gap: 85px;
  }

  .header__subtitle {
    max-inline-size: 491px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}