/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-color: #FFF1F7;
  --main-bg-image: url(../images/cover-image-light.png);
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
}

.theme-light .header__text-decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #FFF1F7;
    --main-image: url(./../images/cover-image-light.png);
    --title-color: #FFC2E6;
    --accent-color: #FF8DCB;
  }

  .header__text-decor {
    display: none;
  }
}