/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-light {
  --bg-image: url(../images/cover-image-light.png);
  --text-color: #353430;
  --accent-color: #FFC2E6;
  --bg-color: #FFF1F7;
  --title-color: #FF8DCB;
  --btn-hover: #32312D66;
  --heading-color: #353430;
}

.theme-light .header__text-decor {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url(../images/cover-image-light.png);
    --text-color: #353430;
    --accent-color: #FFC2E6;
    --bg-color: #FFF1F7;
    --title-color: #FF8DCB;
    --btn-hover: #32312D66;
    --heading-color: #353430;
  }

  .header__text-decor {
    display: none;
  }
}