.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-inline: 10px;
  padding-block: 40px;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18.5px;
}

.section-title {
  color: var(--section-title-color);
}

.section__heading {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__text {
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  line-height: 23.5px;
}

.card__heading {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
}

.card__text a {
  text-decoration: none;
  text-shadow: 1.5px 2px 0 var(--accent-color);
}

.card__text a:hover {
  border-bottom: 2px solid var(--text-color);
}

.card__text a:focus {
  outline: none;
}

.card__text a:focus-visible {
  outline: 1px solid var(--text-color);
}


.section__gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  gap: 10px;
  margin-top: 10px;
}

.gallery-img {
  width: 100%;
  height: min-content;
  object-fit: cover;
}