.section {
  padding: 0 20px;
  margin: 0 auto 80px;
}

.section__heading {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  color: var(--heading-color);
}

.section-why-hard-focus {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.section-why-hard-focus .section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  margin: 0 auto;
}

.card__text {
  font-size: var(--font-size);
  line-height: 23.5px;
  margin-top: 10px;
}

.card__text a {
  text-decoration: none;
  text-shadow: 1.5px 2px 0 var(--accent-color);
}

.card__text a:hover {
  border-bottom: 2px solid var(--text-color);
}

.card__text a:focus {
  outline: none;
}

.card__text a:focus-visible {
  outline: 1px solid var(--text-color);
}

.section-concentration .section__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(320px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.section-concentration .section__heading {
  max-width: 315px;
}

.section-goldfish {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.section-goldfish .section__heading {
  grid-row: -1 / 1;
}

.section-goldfish .section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.section-gallery {
  margin-bottom: 40px;
}

.section__gallery-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  gap: 10px;
  margin-top: 10px;
}

.gallery-img {
  width: 100%;
  height: min-content;
  object-fit: cover;
}

@media (width >=760px) {
  .section-gallery {
    margin-bottom: 60px;
  }

  .section__gallery-container {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(3, min-content);
    margin-top: 18px;
    gap: 20px;
  }

  .img-sunset {
    grid-column: span 2;
    height: 100%;
  }

  .img-ice-cream {
    grid-column: 3;
    grid-row: 1 / span 2;
    height: 100%;
  }

  .img-cassette {
    grid-row: span 2;
    height: 100%;
  }

  .img-books {
    height: 100%;
  }

  .img-street {
    grid-column: span 2;
  }
}

@media (width <=760px) {
  .section {
    padding: 0;
    margin-bottom: 50px;
  }

  .section-why-hard-focus {
    grid-template-columns: 1fr;
  }

  .section-concentration .section__heading {
    max-width: 330px;
  }

  .section-gallery {
    grid-template-columns: 1fr;
  }
}