/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
.page {
  font-family: var(--font-family, sans-serif);
  font-size: var(--font-size, 18px);
  background-image: var(--main-bg-image, url(../images/cover-image-dark.png));
  background-color: var(--bg-color, #000028);
  color: var(--content-color, #F1B2CE);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  line-height: 1.3;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  block-size: max(100vh, 668px);
  inline-size: 100%;
  padding: 10px 0;
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  block-size: 25px;
  inline-size: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 10px;
  left: 10px;
  block-size: 25px;
  inline-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.header__text-decor {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
}

.header__text-decor::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  block-size: 10px;
  inline-size: 10px;
}

.header__theme-menu {
  justify-self: center;

}

.header__theme-menu-list {
  display: flex;
  gap: 12px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  border: 1px solid transparent;
  /* border: none; */
  cursor: pointer;
  padding-inline: 13px;
  padding-block: 3px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color);
  opacity: 0.4;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  outline: none;
}

.header__title {
  font-size: 157px;
  line-height: 0.83;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  justify-self: start;
  align-self: center;
  /* font-size: var(--font-size-title-mobile, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)); */
}

.header__subtitle {
  font-weight: var(--font-weight-bold, 700);
  justify-self: end;
  align-self: start;
  max-inline-size: 491px;
}

.title-decor {
  color: var(--main-color);
  background-color: var(--accent-color);
  font-weight: var(--font-weight-regular);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-inline: 10px;
  padding-block: 40px;
}

.section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.section-3fr {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
}

.section__heading {
  color: var(--accent-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size, 18px);
  grid-column: 1;
}

.card {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  gap: 10px;
}

.card__text a {
  text-decoration: none;
  text-shadow: 1.5px 2px 0 var(--accent-color, #FF0070);
}

.card__text a:hover {
  border-bottom: 2px solid var(--content-font-color, #F1B2CE);
}

.card__text a:focus {
  outline: none;
}

.card__text a:focus-visible {
  outline: 1px solid var(--content-font-color, #F1B2CE);
}

.gallery {
  gap: 10px;
}

.gallery__img {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max(100vh, 668px);
  padding: 10px;
}

.footer__title {
  color: var(--title-color, #DB00FF);
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--logo-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  font-style: normal;
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}

@media (width >=768px) {
  .header {
    gap: 72px;
    height: max(100vh, 1024px);
    padding: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__text-decor {
    top: 20px;
    right: 48px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: var(--logo-size, clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem));
  }

  .main {
    gap: 80px;
    padding-inline: 20px;
    padding-block: 60px;
  }

  .section__block {
    grid-template-columns: fit-content(236px) 1fr 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-auto-rows: inherit;
  }

  .card {
    grid-column: 2/4;
  }

  .card-other {
    grid-column: 1/4;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "title title title"
      "sunset sunset icecream"
      "cassette books icecream"
      "cassette street street";
    gap: 20px;
  }

  .title-gallery {
    grid-area: title;
  }

  .img-sunset {
    grid-area: sunset;
  }

  .img-icecream {
    grid-area: icecream;
  }

  .img-cassette {
    grid-area: cassette;
  }

  .img-books {
    grid-area: books;
  }

  .img-street {
    grid-area: street;
  }

  .footer {
    height: max(100vh, 1024px);
    padding: 20px;
  }

  .footer__title {
    font-size: var(--logo-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  }
}

@media (width >=1024px) {
  .header {
    gap: 85px;
    height: max(100vh, 768px);
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__subtitle {
    max-inline-size: 491px;
  }

  .section__block {
    grid-template-columns: fit-content(315px) 1fr 1fr;
  }

  .title-other {
    grid-column: 1/4;
  }

  .card-other {
    grid-column: auto;
  }

  .footer {
    height: max(100vh, 768px);
  }
}